extends layout 

block content
    .row.gy-4.gx-lg-3.mt-3 
        .col-lg-4.col-xs-12.mb-3
            .card.shadow.p-4.h-100
                h3 Demoseite
                p Algorithmen des maschinellen Lernens sind aufgrund ihrer Fähigkeit, nichtlineare und komplexe Zusammenhänge zu erfassen, für die räumliche Kartierung der Umwelt sehr beliebt geworden.
                p Diese Fähigkeit hat jedoch den Nachteil, dass sie nur auf neue Daten angewendet werden können, wenn diese den Trainingsdaten ähnlich sind.
                p Der AOA-Alogrithmus bietet dem Nutzer die Möglichkeit, die Anwendbarkeit von Trainingsmodellen auf noch unbekannte Gebiete zu berwerten.
                p Die Demoseite soll Usern einemal ein Beispiel der Anwendung des AOA bieten. Über den Button "Klassifizierungs" lässt sich eine Beispielhafte KLassifizierung ausführen.
                form(action="demo/result" method="post")
                    form-group
                        button#klassifizieren.btn.btn-primary.my-2(type="submit") Klassifizieren
        .col-lg-8.col-xs-12.mb-3
            .card.shadow.p-4
                .leaflet-container#map

    script.
        // Set active Button
        document.querySelectorAll(".active")[0].classList.remove("active");
        document.querySelectorAll(".nav-link")[3].classList.add("active");

    // Leaflet
    script(src='/javascripts/leaflet.js')
    script(src="https://unpkg.com/georaster") 
    script(src="https://unpkg.com/georaster-layer-for-leaflet") 
    script(src="/beispieldaten/trainingsgebiete.js")
    script(src='/javascripts/demodaten.js')