extends layout 

block content
    .row.gy-4.gx-lg-3.mt-3 
        .col-lg-4.col-xs-12.mb-3
            .card.text-dark.shadow.p-4.h-100
                h3 Ergebnis
                p Im Ergebnis ist nun das der AOA visualisiert zu erkennen. Hierbei sind eher schlecht geeignete Bereiche in schwarz markiert und gut geeignete Weiß. Das Ergebnis ist hierbei ein georeferenziertes Tif.
                p Um die Klassifizierung anzupassen, wird es außerhalb der Demoversion die Möglichkeit geben die vorhandenen Trainingspolygone zu bearbeiten. 
                p Die .tif Datei kann man nach der Durchführung auch lokal auf dem Gerät speichern.
                p Es kann bis zu 1 Minute dauern, bis die Ursprungs-Rasterdaten auf der Karte angezeigt werden. Die restlichen Daten sollten aber bereits sichtbar sein.
                button#downloadKnopf.btn.btn-primary.mt-3(type= "click") 
                    img.img-fluid.rounded.mb-lg-0.d-inline-block.align-text-center(src="/images/IconDownloadGruen.svg" width="30" height="30")
                    text    Herunterladen
        .col-lg-8.col-xs-12.mb-3
            .card.text-dark.shadow.p-4
                .leaflet-container#map

    script.
        // Set active Button
        document.querySelectorAll(".active")[0].classList.remove("active");
        document.querySelectorAll(".nav-link")[3].classList.add("active");

    // Leaflet

    script(src="https://unpkg.com/georaster") 
    script(src="https://unpkg.com/georaster-layer-for-leaflet") 
    script(src='/javascripts/leaflet.js')
    script(src="/beispieldaten/trainingsgebiete.js")
    script(src='/javascripts/demo_result.js')