extends layout 

block content
    #about.container
        
        .my-5
            .about-image.float-lg-start.mx-auto.mx-lg-5(style="background-image: url('images/esel.jpg')")
            .p-lg-5
            h3.fs-2.limegreen Felix Disselkamp 
                i.bi.bi-github
            p
                | Felix Disselkamp ist unser Scrum Master und Mann für alles!
                | Seine Fähigkeiten beschränken sich nicht nur auf das hervorragende Managen und Leiten eines Teams, Nein ! 
                | gleichzeitig steckt in ihm ein sehr erfahrener und qualifizierter Mitarbeitet auf den wir nicht verzichten Möchten.
                | Neben seinen Tätigkeiten als Scrum Master bei apollo13 studiert er mittlerweile im 5. Semester Geoinformatik.
            .clearfix
        .my-5
            .about-image.float-lg-end.mx-auto.mx-lg-5(style="background-image: url('images/esel.jpg')")
            .p-lg-5
            h3.fs-2.limegreen Eva Langstein 
                i.bi.bi-github
            p
                | Mit Eva stellen wir euch die Kompetenz in Person vor.
                | Böse Zungen würden behaupten "ohne Eva läuft hier Garnichts". 
                | Eva ist schon wirklich, wie man so schön sagt, ein alter Hase der Geoinformatik. Mit 19 angefangen mit einer
                | Ausbildung als Geomatikerin über ihr Studium bis zu uns, der Apollo13 GmbH, bringt sie etliche Erfahrungen mit.
            .clearfix
        .my-5
            .about-image.float-lg-start.mx-auto.mx-lg-5(style="background-image: url('images/esel.jpg')")
            .p-lg-5
            h3.fs-2.limegreen Anne Staskiewicz 
                i.bi.bi-github
            p
                | Anne Staskiewicz ist jemand, bei dem Geoinformatik im Blut der Familie liegt. 
                | Gibt es Probleme, an denen man länger sitzt, beweist sie voll ausdauernde Konzentration, bis die Katze im Sack ist. 
                | Ebenfalls ist Anne elementar für unser Team und sorgt für die täglich benötigte Motivation. 
                | Klare Kompetenzen, erblich bedingt durch die Familie, liegen bei Docker.
            .clearfix

        .my-5
            .about-image.float-lg-end.mx-auto.mx-lg-5(style="background-image: url('images/esel.jpg')")
            .p-lg-5
            h3.fs-2.limegreen Philipp Mundinger 
                i.bi.bi-github
            p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
                | necessitatibus minima corporis aut porro odio perspiciatis libero
                | consequuntur at cumque, voluptatibus, quaerat fugiat mollitia
                | voluptatem eveniet fuga, aspernatur vitae ea.
            .clearfix
        .my-5
            .about-image.float-lg-start.mx-auto.mx-lg-5(style="background-image: url('images/esel.jpg')")
            .p-lg-5
            h3.fs-2.limegreen Robert Schmitz 
                i.bi.bi-github
            p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
                | necessitatibus minima corporis aut porro odio perspiciatis libero
                | consequuntur at cumque, voluptatibus, quaerat fugiat mollitia
                | voluptatem eveniet fuga, aspernatur vitae ea.
            .clearfix
        
