extends layout 

block content
   

        .row.gy-4.gx-2.justify-content-md-center.mt-2
            .col-6
                h2 Impressum

                text Spacey GmbH
                br
                br
                text Dieses Impressum gilt auch für die Spacey Social Media Kanäle: 
                br
                a.link1.text-muted.text-decoration-none(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ") YouTube 
                br
                a.link1.text-muted.text-decoration-none(href="https://www.instagram.com/geochiller/") Instagram 
                br
                br             

                text Verantwortlich für diese und die zuvor genannten Seiten ist:
                br
                br
                text Spacey GmbH
                br
                text Heisenbergstraße 2
                br
                text 48149 Münster
                br
                text Deutschland
                br
                br
                text Telefon: 
                a.link1.text-muted.text-decoration-none(href='tel:+491633422862') +49 163 342 2862
                br
                text E-Mail: 
                a.link1.text-muted.text-decoration-none(href='mailto:Apollo13.spacey@gmx.de?subject=Erreicht%20ueber%20Impressum&amp;body=Sehr%20geehrtes%20Spacey%20Team,%0A%0A') Apollo13.Spacey@gmx.de
                br
                br
                br


                text Alleinvertretungsberechtigte Geschäftsführer der Spacey: 
                br
                text Eva Langstein, Felix Disselkamp, Anne Staskiewicz
                br
                br
                text UstId-Nr.: DE 162261337
                br
                text Handelsregister: HRB 4149, Amtsgericht Münster
                br    
                br               

                h5 Haftungshinweis:
                text Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. Gleichwohl die Informationen auf diesen Webseiten ständig von der con terra GmbH sorgfältig geprüft und aktualisiert werden, können sich dennoch Angaben zwischenzeitlich geändert haben. Aus diesem Grund kann für die Richtigkeit, Aktualität und Vollständigkeit der zur Verfügung gestellten Informationen keine Haftung bzw. Garantie übernommen werden.
                br 
                br
                br
                br 

                h2 Wer sind Wir ?


        