extends layout

block content


  // Heading Row
  .row.gx-4.gx-lg-5.align-items-center.mt-5
    .col-lg-7
      img.img-fluid.rounded.mb-4.mb-lg-0(src="/images/esel.jpg")

    .col-lg-5
      h1.font-weight-light Apollo 13
      p
        | Apollo13 ein Projekt der Spacey GmbH & Ko. KG ist eine Webbasierte Anwendung.Zweck dieser soll es sein das Arbeiten mit Rasterdaten wie z.B. das Klassifizieren einfacher zu gestallten. Hierzu werden, nicht wie bei anderen Anwendungen des Gebietes, keinerlei R Kenntnisse benötigt. 

      a.btn.btn-primary(href='#!') Call to Action!

  // Call to Action
  .card.text-white.bg-success(style='--bs-bg-opacity: .75;').my-5.py-4.text-center
    .card-body
      p.blockquote.m-0.
        "Auch Bretter vor dem Kopf lassen im Idealfall Platz für den Durchblick!"
  
    // Leaflet
  .row.gx-10.gx-lg-3.justify-content-center
    .col-md-8.mb-3
      .card.center
        .card-body
          #map
          div
            | Click here to read in your personal 
            span.Eingabe Browser-Coordinates
            | : 
            button(onclick='getLocation()') Try It
          p#coordinates

  // Content Row
  .row.gx-4.gx-lg-5
    .col-md-4.mb-5
      .card.h-100
        .card-body
          h2.card-title Upload
          p.card-text
            | Hier gehts zur Upload-Page. Hier können Sie Ihre RGB oder Multispektralen Rasterdaten, sowie die Trainingsdaten hochladen. 
          img.img-fluid.rounded.mb-4.mb-lg-0(src="/images/UploadSpaceyPNG.png" width="150" height="150")  
        .card-footer
          a.btn.btn-primary.btn-sm(href='/upload') zum Upload

    .col-md-4.mb-5
      .card.h-100
        .card-body
          h2.card-title Karte
          p.card-text
            | Hier gehts zur Karte. Ihre Daten, oder unsere Standartdaten, werden hier für Sie aufbereitet dargestellt.
        img.img-fluid.rounded.mb-4.mb-lg-0(src="/images/KarteSpacey.png" width="150" height="150") 
        .card-footer
          a.btn.btn-primary.btn-sm(href='/karte') zur Karte

    .col-md-4.mb-5
      .card.h-100
        .card-body
          h2.card-title PLATZHALTER
          p.card-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.
        .card-footer
          a.btn.btn-primary.btn-sm(href='/map') zur Karte


  script.
    // Set active Button
    document.querySelectorAll(".active")[0].classList.remove("active");
    document.querySelectorAll(".nav-link")[0].classList.add("active");

  // Leaflet
  script(src='/javascripts/leaflet.js')