extends layout

block content

  // Heading Row
  .row.gx-4.gx-lg-5.align-items-center.my-5
    .col-lg-7
      img.img-fluid.rounded.mb-4.mb-lg-0(src="/images/esel.jpg")

    .col-lg-5
      h1.font-weight-light Apollo 13
      p
        | This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!
      a.btn.btn-primary(href='#!') Call to Action!

  // Call to Action
  .card.text-white.bg-success(style='--bs-bg-opacity: .75;').my-5.py-4.text-center
    .card-body
      p.blockquote.m-0.
        "Auch Bretter vor dem Kopf lassen im Idealfall Platz für den Durchblick!"

  // Content Row
  .row.gx-4.gx-lg-5
    .col-md-4.mb-5
      .card.h-100
        .card-body
          h2.card-title Upload
          p.card-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.
        .card-footer
          a.btn.btn-primary.btn-sm(href='/upload') zum Upload

    .col-md-4.mb-5
      .card.h-100
        .card-body
          h2.card-title Karte
          p.card-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.
        .card-footer
          a.btn.btn-primary.btn-sm(href='/karte') zur Karte

    .col-md-4.mb-5
      .card.h-100
        .card-body
          h2.card-title Open Sense Map
          p.card-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.
        .card-footer
          a.btn.btn-primary.btn-sm(href='/map') zur Karte


  script.
    // Set active Button
    document.querySelectorAll(".active")[0].classList.remove("active");
    document.querySelectorAll(".nav-link")[0].classList.add("active");
