extends tabs

block result

  .row.gy-4.gx-lg-2.justify-content-md-center.mt-2 
    .col-lg-8.col-xs-12.mb-3
      .card.shadow.p-4.h-100
        h3 Visualisierung von Klassifikation und AOA
          .leaflet-container.mt-3
            #map
    .col-lg-4.col-xs-12.mb-3
      .card.shadow.p-4.h-100
        h3 Download
        | Wähle Dateien zum herunterladen aus:
        form#downloadForm.form-check.mt-3(action="/" method="post")
          form-group
            input#klassifikation.form-check-input(type='checkbox' name="prediction_datei" value='myfiles/prediction.tif')
            label.form-check-label(for='flexCheckDefault')
              | Klassifikation
            .form-check
            input#aoa.form-check-input(type='checkbox' name= "aoa_datei" value='myfiles/AOA_klassifikatoin.tif')
            label.form-check-label(for='flexCheckChecked')
              | Area of Applicability
            .form-check
            input#polygone.form-check-input(type='checkbox' name= "trainingsdaten_datei" value='myfiles/trainingsdaten.geojson')
            label.form-check-label(for='flexCheckChecked')
              | Trainingspolygone
            .form-check
            input#modell.form-check-input(type='checkbox' name="modell_datei" value='modell.RDS')
            label.form-check-label(for='flexCheckChecked')
              | Modell
          p
          button#downloadKnopf.btn.btn-primary.mt-3(type= "submit") Herunterladen

  script.
    // Set active Button
    document.getElementById("trainingsdatenTab").classList.remove("active")
    document.getElementById("ergebnisTab").classList.add("active")

  script(src="https://unpkg.com/georaster") 
  script(src="https://unpkg.com/georaster-layer-for-leaflet") 
  script(src='/javascripts/leaflet.js')
  script(src='/javascripts/result.js')
  scrpt(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript")
  script(src="https://cdn.jsdelivr.net/npm/jszip")
  script(src='/javascripts/download.js')