extends tabs

block result

  .row.gy-4.gx-lg-2.justify-content-md-center.mt-2 
    .col-lg-8.col-xs-12.mb-3
      .card.shadow.p-4.h-100
        h3 Visualisierung von Klassifikation und AOA
          .leaflet-container.mt-3
            #map
    .col-lg-4.col-xs-12.mb-3
      .card.shadow.p-4.h-100
        h3 Download
        | Wähle Dateien zum herunterladen aus:
        .form-check.mt-3(action="#" id="download_form")
          input#klassificatoin.form-check-input(type='checkbox' data-url="http://localhost:3000/prediction.tif" value='')
          label.form-check-label(for='flexCheckDefault')
            | Klassifikation
          .form-check
          input#aoa.form-check-input(type='checkbox' data-url="http://localhost:3000/AOA_klassifikation.tif" value='')
          label.form-check-label(for='flexCheckChecked')
            | Area of Applicability
          .form-check
          input#polygone.form-check-input(type='checkbox' data-url="http://localhost:3000/trainingsdaten.geojson" value='')
          label.form-check-label(for='flexCheckChecked')
            | Trainingspolygone
          .form-check
          input#model.form-check-input(type='checkbox' value='')
          label.form-check-label(for='flexCheckChecked')
            | Modell
        p.mt-3
          button#download.btn.btn-primary Herunterladen

  script.
    // Set active Button
    document.getElementById("trainingsdatenTab").classList.remove("active")
    document.getElementById("ergebnisTab").classList.add("active")

  script(src="https://unpkg.com/georaster") 
  script(src="https://unpkg.com/georaster-layer-for-leaflet") 
  script(src='/javascripts/leaflet.js')
  script(src='/javascripts/result.js')
  script(src='/javascripts/download.js')