extends layout

block content
    #about.container
        .row.gy-4.gx-lg-2.justify-content-md-center.mt-2 
            h2 Wer sind Wir ?    
            .col-md-4
                .about-image.float-lg-start.mx-auto.mx-lg-5(style="background-image: url('images/avatar_felix.png')")
            .col-md-8
                h3.fs-2 Felix Disselkamp 
                    a.btn.btn-floating(href='https://github.com/Felioxx' role='button')
                        i.bi.bi-github
                p
                    | Felix Disselkamp ist unser Scrum Master und Mann für alles!
                    | Seine Fähigkeiten beschränken sich nicht nur auf das hervorragende Managen und Leiten eines Teams, Nein ! 
                    | gleichzeitig steckt in ihm ein sehr erfahrener und qualifizierter Mitarbeitet auf den wir nicht verzichten Möchten.
                    | Neben seinen Tätigkeiten als Scrum Master bei Apollo13 studiert er mittlerweile im 5. Semester Geoinformatik.

        .row.gy-4.gx-lg-2.justify-content-md-center.mt-2 
            .col-md-8
                h3.fs-2 Eva Langstein 
                    a.btn.btn-floating(href='https://github.com/Lorano98' role='button')
                        i.bi.bi-github
                p
                    | Mit Eva stellen wir euch die Kompetenz in Person vor.
                    | Böse Zungen würden behaupten "ohne Eva läuft hier Garnichts". 
                    | Eva ist schon wirklich, wie man so schön sagt, ein alter Hase der Geoinformatik. Mit 18 angefangen mit einer
                    | Ausbildung als Geomatikerin über ihr Studium bis zu uns, der Spacey GmbH, bringt sie etliche Erfahrungen mit.
            .col-md-4
                .about-image.float-lg-end.mx-auto.mx-lg-5(style="background-image: url('images/Eva.png')")
        .row.gy-4.gx-lg-2.justify-content-md-center.mt-2 
            .col-md-4
                .about-image.float-lg-start.mx-auto.mx-lg-5(style="background-image: url('images/anne_avatar.png')")
            .col-md-8
                h3.fs-2.limegreen Anne Staskiewicz
                    a.btn.btn-floating.m-1(href='https://github.com/Laxeros7' role='button')
                        i.bi.bi-github
                p
                    | Anne Staskiewicz ist jemand, bei dem Geoinformatik im Blut der Familie liegt. 
                    | Gibt es Probleme, an denen man länger sitzt, beweist sie voll ausdauernde Konzentration, bis die Katze im Sack ist. 
                    | Ebenfalls ist Anne elementar für unser Team und sorgt für die täglich benötigte Motivation. 
                    | Klare Kompetenzen, erblich bedingt durch die Familie, liegen bei Docker.

        .row.gy-4.gx-lg-2.justify-content-md-center.mt-2
            .col-md-4
                .about-image.float-lg-start.mx-auto.mx-lg-5(style="background-image: url('images/Philipp.png')")
            .col-md-8
                h3.fs-2 Philipp Mundinger 
                    a.btn.btn-floating(href='https://github.com/pmunding' role='button')
                        i.bi.bi-github
                p
                    | Philipp Mundiger hat sich Karten zu seiner Lebensmission gemacht.
                    | Das beinhaltet neben Speisekarten, Kreditkarten und Spielkarten vorallem
                    | digitale Karten und alles rundum Leaflet! Ob es um Features, Tilemaps oder
                    | Polygone geht, er ist unser Experte.
            .col-md-4
                .about-image.float-lg-end.mx-auto.mx-lg-5(style="background-image: url('images/esel.jpg')")
        .row.gy-4.gx-lg-2.justify-content-md-center.mt-2
            .col-md-4
                .about-image.float-lg-start.mx-auto.mx-lg-5(style="background-image: url('images/avatarRobert.png')")
            .col-md-8
                h3.fs-2 Robert Schmitz 
                    a.btn.btn-floating(href='https://github.com/rob2top' role='button')
                        i.bi.bi-github
                p
                    | Robert Schmitz, das S steht für Schönheit!  
                    | Und damit meinen wir nicht nur ihn, sondern unsere Seite!
                    | Als Web-Entwickler ist er stets vertraut mit Bootstrap und allem, was dazu gehört, um der Seite den 
                    | nötigen Glanz zu geben. Bereits in seiner Ausbildung als Vermessungstechniker lernte er schon die richtigen Maße für Container und Buttons festzulegen.

