extends tabs

block bearbeiten
  #loading(style='display:none')
    div
      figure#loading-image
        img.img-fluid(src='/images/loading_bg.png')
        img#loading-image.figure-img.img-fluid.loading-image(src='/images/ajax-loader.gif') 
        figcaption#image-caption.figure-caption.mt-6 Loaaaading...
  .row.gy-4.gx-lg-2.justify-content-md-center.mt-2 
    .col-lg-8.col-sm-12.mb-3
      .card.shadow.p-4.h-100
        #map
    .col-lg-4.col-sm-12.mb-3
      .row.gy-1.gx-lg-2
        .col-lg-12.col-sm-8.gx-1
          .card.shadow
            .card-body 
              .div.table-responsive
                table#tabelle.table.table-light.table-striped.table-hover.table-sm.table-bordered
                  tr.text-center
                    th ID
                    th Beschreibung
                    th Klassen_Identifikation
                  tr
                    td 1
                    td test 1
                    td test Klasse 1
                  tr
                    td 2
                    td test 1
                    td test Klasse 1
                  tr
                    td 3
                    td test 1
                    td test Klasse 1


        .col-lg-12.col-sm-4.flex-xs-row.gx-1.d-grid.gap-1
          .card.shadow
            .card-body
              form.d-grid.gap-2.col-12.mx-auto(method='post' action='result')
                a.btn.btn-primary(onclick='geojsonExport()')
                  img.img-fluid.rounded.mb-lg-0.d-inline-block.align-text-center(src="/images/IconDownloadGruen.svg" width="30" height="30")
                  text     Dateien herunterladen

          .card.shadow
            .card-body
              form.d-grid.gap-2.col-12.mx-auto(method='post' action='result')
                a.btn.btn-primary(onclick='geojsonHochladen()')
                  img.img-fluid.rounded.mb-lg-0.d-inline-block.align-text-center(src="/images/IconUploadGruen.svg" width="30" height="30")
                  text     Neue Polygone Hochladen

          .card.shadow
            .card-body
              form(method='post' action='result').mb-2
                form-group
                  #algorithmusDiv
                    label.col-form-label(for="algorithmus")
                      |Algorithmus auswählen:
                    select#algorithmus.form-select(name="algorithmus")
                      option(value="rf") Random Forest
                      option(value="dt") Decision Tree
                    #rfAttribute
                      label.col-form-label(for="anzahl")
                        |Anzahl der Bäume für random forest: 
                      input#baumAnzahl.form-control(name="anzahl" min="1" max="1000" step="1")
                      label.col-form-label(for="tiefe")
                        |Tiefe der Bäume für random forest: 
                      input#baumTiefe.form-control(name="tiefe" min="1" max="1000" step="1")
                    a#skriptAusfuehren.btn.btn-primary.col-12.mt-2(type='submit')
                      img.img-fluid.rounded.mb-lg-0.d-inline-block.align-text-center(src="/images/IconPlayGruen.svg" width="30" height="30")
                      text     Skript ausführen





  script.
    // Set active Button
    document.getElementById("ergebnisTab").classList.remove("active")
    document.getElementById("trainingsdatenTab").classList.add("active")

  script(src="https://unpkg.com/georaster") 
  script(src="https://unpkg.com/georaster-layer-for-leaflet") 
  script(src='/javascripts/leaflet.js')
  script(src='/javascripts/trainingsdatenBearbeiten.js')