extends tabs

block bearbeiten

  .row.gy-4.gx-lg-2.justify-content-md-center.mt-2 
    .col-lg-8.col-sm-12.mb-3
      .card.shadow.p-4.h-100
        #map
    .col-lg-4.col-sm-12.mb-3

      .card.shadow.p-4
        .row
          .col-lg-12.col-sm-4.flex-xs-row.gx-1.d-grid.gap-1
            a.btn.btn-primary(type='submit')(method='post' action='result') Skript ausführen
            a.btn.btn-primary(onclick='geojsonExport()')(method='post' action='result') Dateien herunterladen
            a.btn.btn-primary(type="submit")(action="result/trainingsdaten" method="post") Bearbeiten
            
          .col-lg-12.col-sm-8  
            .row.gx-2.mt-2
              table#tabelle.table.table.table-striped.table-hover.table-sm
                tr.text-center
                  th Beschreibung
                  th Klassen_Identifikation
     
  script.
    // Set active Button
    document.getElementById("ergebnisTab").classList.remove("active")
    document.getElementById("trainingsdatenTab").classList.add("active")

  script(src="https://unpkg.com/georaster") 
  script(src="https://unpkg.com/georaster-layer-for-leaflet") 
  script(src='/javascripts/leaflet.js')
  script(src='/javascripts/trainingsdatenBearbeiten.js')