extends tabs

block bearbeiten

  .row.gy-4.gx-lg-2.justify-content-md-center.mt-2 
    .col-lg-8.col-xs-12.mb-3
      .card.shadow.p-4.h-100
        #map
    .col-lg-4.col-xs-12.mb-3

      .card.shadow.p-4(style='height: 300px;overflow: scroll;')
        table#tabelle.table.table-dark.table-striped.table-hover
          tr
            th Label
            th Class_ID

          form(method='post' action='result')
            button.btn.btn-primary.my-2(type='submit') Skript ausführen

              button.btn.btn-2.my-2.m-2(onclick='geojsonExport()') Export Data

          form(action="result/trainingsdaten" method="post")
            form-group
              button.btn.btn-primary.my-2(type="submit") bearbeiten

  script.
    // Set active Button
    document.getElementById("ergebnisTab").classList.remove("active")
    document.getElementById("trainingsdatenTab").classList.add("active")

  script(src='/javascripts/leaflet.js')
  script(src='/javascripts/trainingsdatenBearbeiten.js')