extends layout

block content
    .row.gy-4.gx-lg-3.justify-content-md-center.mt-3 
        .col-lg-4.col-xs-12.mb-3
            .card.text-dark.shadow.p-4.h-100
                h3 Trainingsdaten
                div
                    form#trainingsdatenForm(action="/" method="post")
                        form-group
                            label.col-form-label(for='trainingsdaten') Trainingsdaten laden
                            input#trainingsdatenFiles.form-control(type='file' name='trainingsdaten' accept=".json, .geojson, .gpkg")
                        button.btn.btn-primary.my-2(type='submit') Hochladen
        .col-lg-4.col-xs-12.mb-3
            .card.text-dark.shadow.p-4.h-100
                h3 Rasterdaten
                div
                    form#rasterdatenForm(action="/" method="post")
                        form-group
                            label.col-form-label(for='rasterdaten') Rasterdaten laden
                            input#rasterdatenFiles.form-control(type='file' name="rasterdaten" accept=".tif")
                        button.btn.btn-primary.my-2(type='submit') Hochladen
        .col-lg-4.col-xs-12.mb-3
            .card.text-dark.shadow.p-4.h-100
                h3 RSkript
                form(method='post' action='upload')
                    form-group
                        select.form-control(name='select' value=selected) Skript auswählen
                            option(value='flaeche') Fläche berechnen
                            //option(value='max') max(1,2,3)
                    form-group
                        label.col-form-label(for='radius') Radius
                        div
                            input.form-control(type='number' name='radius' value=radius)
                    button#skriptAusfuehren.btn.btn-primary.my-2 Skript ausführen
                label(for='ergebnis') Ergebnis
                textarea.from-control(name = 'ergebnis')=result
    #test

    .col-lg-12.col-sm-12.mb-3
        .card.text-dark.shadow.p-4.vh-50
            .leaflet-container#map


    script.
        // Set active Button
        document.querySelectorAll(".active")[0].classList.remove("active");
        document.querySelectorAll(".nav-link")[1].classList.add("active");

    script(src="https://cdn.jsdelivr.net/npm/geotiff") <!-- Skript for Geotiff Import -->
    script(src="https://cdn.jsdelivr.net/npm/leaflet-geotiff") <!-- Skript for Geotiff Import -->
    script(src='/javascripts/trainingsdaten.js')
    script(src='/javascripts/rasterdaten.js')