extends layout

block content
    #loading(style='display:none')
        div
            figure#loading-image
                img.img-fluid(src='/images/loading_bg.png')
                img#loading-image.figure-img.img-fluid.loading-image(src='/images/ajax-loader.gif') 
                figcaption#image-caption.figure-caption.mt-6 Loaaaading...
    .row.gy-4.gx-lg-3.justify-content-md-center.mt-3 
        .col-lg-4.col-xs-12.mb-3
            .card.shadow.p-4.h-100
                h3 Trainingsdaten
                div
                    form#trainingsdatenForm(style='display:none' action="/" method="post")
                        form-group
                            p Wichtig: Trainingspolygone dürfen nicht mehr als 11 verschiedene Klassen enthalten!
                            label.col-form-label(for='daten') 
                            b Trainingspolygone 
                            |laden:
                            input#trainingsdatenFiles.form-control.mt-2(type='file' name='daten' accept=".json, .geojson, .gpkg")
                        button#trainingsdatenHochladen.btn.btn-primary.my-2(type='submit') Hochladen
                    form#modellForm( style='display:none' action="/" method="post")
                        form-group
                            p Wichtig: Das Modell darf nicht mehr als 11 verschiedene Klassen kennen!
                            label.col-form-label(for='daten') 
                            b Modell 
                            |laden:
                            input#modelFiles.form-control.mt-2(type='file' name='daten' accept=".RDS")
                        button#modellHochladen.btn.btn-primary.my-2(type='submit') Hochladen
                    button#trainingsdaten.btn.btn-primary.my-2.mx-1(onclick='hideTrainingsdatenForm()') Ich möchte Trainingspolygone hochladen
                    button#modell.btn.btn-primary.my-2.mx-1(onclick='hideModellForm()') Ich möchte ein Modell hochladen                    
        .col-lg-4.col-xs-12.mb-3
            .card.shadow.p-4.h-100
                h3 Rasterdaten
                div
                    form#rasterdatenForm(action="/" method="post")
                        form-group
                            p Das Satellitenbild muss folgendes besitzen:
                            p - Koordinatensystem 
                                b WGS84 (EPSG 4326)  
                            p - (wie es z.B. bei Sentinel 2 Standard ist)                          
                                b 12 Kanäle 
                            p - folgende Namen der Kanäle: 
                                b B02, B03, B04, B05, B06, B07, B08, B8A, B09, B10, B11, B12.
                            label.col-form-label(for='daten') Rasterdaten laden
                            input#rasterdatenFiles.form-control(type='file' name="daten" accept=".tif")
                        button#rasterdatenHochladen.btn.btn-primary.my-2(type='submit') Hochladen
        .col-lg-4.col-xs-12.mb-3
            .card.shadow.p-4.h-100
                h3 Klassifizierung
                form(method='post' action='result')
                    form-group
                        #algorithmusDiv(style="display: none")
                            label.col-form-label(for="algorithmus")
                                |Algorithmus auswählen:
                            select#algorithmus.form-select(name="algorithmus")
                                option(value="rf") Random Forest
                                option(value="dt") Decision Tree
                            #rfAttribute
                                label.col-form-label(for="anzahl")
                                    |Anzahl der Bäume für random forest: 
                                input.form-control(name="anzahl" type="number" min="1" max="1000" step="1")
                                label.col-form-label(for="tiefe")
                                    |Tiefe der Bäume für random forest: 
                                input.form-control(name="tiefe" type="number" min="1" max="1000" step="1")
                        label.col-form-label(for='bb') Boundingbox
                        textarea#bb.form-control.disabled(name="bb" readonly="readonly" style="font-size: 0.8rem")
                        input#idInput(name="id" style="display:none") 
                        button#skript.btn.btn-primary.my-2 Skript ausführen
                        p
                            small#small Es müssen zunächst Trainingdaten oder ein trainiertes Modell und Rasterdaten hochgeladen werden.

    .col-lg-12.col-sm-12.mb-3
        .card.shadow.p-4
            .leaflet-container#map


    script.
        // Set active Button
        document.querySelectorAll(".active")[0].classList.remove("active");
        document.querySelectorAll(".nav-link")[1].classList.add("active");

    script(src="https://unpkg.com/georaster") 
    script(src="https://unpkg.com/georaster-layer-for-leaflet") 
    script(src='/javascripts/leaflet.js') 
    script(src='/javascripts/klassifizierung.js')
    script(src='/javascripts/trainingsdaten.js')
    script(src='/javascripts/rasterdaten.js')
