body {
  min-height: 100%;
  text-align: justify;
  font-family: 'proxima-nova', sans-serif !important;
}

.btn-primary {
  color: #fff;
  background-color: #005288 !important;
  border-color: #005288 !important;
}
.btn-primary:hover {
  color: #fff;
  background-color: #01406b !important;
  border-color: #005288 !important;
}

img.col-sm-2 {
  width: 4%;
}

a.nav-link{
  font-size: 20px;
}