body {
  min-height: 100%;
  text-align: justify;
  font-family: "proxima-nova", sans-serif !important;
  padding-top: 80px;
}

.btn-primary {
  color: #fff;
  background-color: #005288 !important;
  border-color: #005288 !important;
}
.btn-primary:hover {
  color: #fff;
  background-color: #01406b !important;
  border-color: #005288 !important;
}

img.col-sm-2 {
  width: 15%;
}

a.nav-link {
  font-size: 20px;
}

.logo{
  max-width: 25%;
  margin-top: 2rem;
}

.row{
  overflow-x: auto
}


.about-image {
	width: 210px;
	height: 210px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
}

.btn-1{
  color: #fff;
  background-color: #efd90f !important;
  border-color: #d6c30f !important;
  width: 7.5rem;
}

.btn-1:hover {
  color: #fff;
  background-color: #01406b !important;
  border-color: #005288 !important;
}

.btn-2{
  color: #fff;
  background-color: #efb30f !important;
  border-color: #d6c30f !important;
  width: 7.5rem;
}

.btn-2:hover {
  color: #fff;
  background-color: #01406b !important;
  border-color: #005288 !important;
}

dd {
  margin-left: 5px;
}

.vh-50{
  height: 50vh !important;
}
.vh-75{
  height: 75vh !important;
}

#skriptAusfuehren  {
  position: relative;
}

#skriptAusfuehren:hover:after {
  position: absolute;
  top: 0;
  left: 75%;
  width: 100%;
  content: attr(title);
  background-color: #ffa;
  color: #000;
  line-height: 1.4em;
  border: 1px solid #000;
}
