body {
  min-height: 100%;
  text-align: justify;
  font-family: "proxima-nova", sans-serif !important;
  padding-top: 80px;
  padding-bottom: 80px;
}

.btn-primary {
  color: #fff;
  background-color: #005288 !important;
  border-color: #005288 !important;
}
.btn-primary:hover {
  color: #fff;
  background-color: #01406b !important;
  border-color: #005288 !important;
}

img.col-sm-2 {
  width: 15%;
}

a.nav-link {
  font-size: 20px;
}

.logo {
  max-width: 35%;
  margin-top: 2rem;
}

.row {
  overflow-x: auto;
}

.about-image {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.btn-1 {
  color: #fff;
  background-color: #efd90f !important;
  border-color: #d6c30f !important;
  width: 7.5rem;
}

.btn-1:hover {
  color: #fff;
  background-color: #01406b !important;
  border-color: #005288 !important;
}

.btn-2 {
  color: #fff;
  background-color: #efb30f !important;
  border-color: #d6c30f !important;
  width: 7.5rem;
}

.btn-2:hover {
  color: #fff;
  background-color: #01406b !important;
  border-color: #005288 !important;
}

dd {
  margin-left: 5px;
}

.vh-50 {
  height: 50vh !important;
}
.vh-75 {
  height: 75vh !important;
}

#skriptAusfuehren {
  position: relative;
}

#skriptAusfuehren:hover:after {
  position: absolute;
  top: 0;
  left: 75%;
  width: 100%;
  content: attr(title);
  background-color: #ffa;
  color: #000;
  line-height: 1.4em;
  border: 1px solid #000;
}

.darkMode {
  background-color: #292929;
  color: white;
}

.darkMode .card {
  background-color: #3d3d3d;
}
.darkMode .card .nav-link.active {
  background-color: #575757;
  color: white;
}
.darkMode .card .nav-link {
  color: #575757;
}

.darkMode .btn-floating {
  background-color: white;
}

[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #292929 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] .card {
  background-color: #3d3d3d;
}
[data-theme="dark"] .card .nav-link.active {
  background-color: #575757;
  color: white;
}
[data-theme="dark"] .card .nav-link {
  color: #575757;
}

/*Legend specific*/

.leaflet-control {
  background: white;
  background: rgba(255, 255, 255, 0.8);
}

.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}

.carousel-control-prev .carousel-control-prev-icon,
.carousel-control-next .carousel-control-next-icon {
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
}

.carousel-control-prev .fa-chevron-left,
.carousel-control-next .fa-chevron-right {
  color: black;
}

.carousel-caption {
  color: black;
}

.link1:hover {
  color: #fff !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #ffffffcf;
  backdrop-filter: blur(5px);
}

#loading-image {
  max-width: 100%;
  height: auto;
  left: 50%;
  top: 50%;
  margin: 0;
  position: absolute;
  transform: translate(-50%, -50%);
}

#image-caption {
  font-size: larger;
  position: inherit;
}

.disabled {
  background-color: rgb(233, 236, 239) !important;
  color: rgb(33, 37, 41) !important;
}
.input-error {
  outline: 1px solid red !important;
  border-color: red !important;
  box-shadow: 0 0 0 0.25rem hsla(0, 100%, 50%, 0.288) !important;
}
